body {

    textarea {
        width: 100%;
    }

    .SubmitButton {
        margin-top: 20px;
        width: 120px;
    }

    .OriginInput {
    }

    .note-editable.panel-body {
        height: 300px;
    }
}
